body {
    margin:0;
}

.top-shelf {
    background-color: #1F2937;
}

.header {
    display:flex;
    justify-content: space-between;
}

.logo {
    margin-left: 400px;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

ul {
    list-style-type: none;
    display:flex;
    gap:15px;
    margin-right: 400px;
    font-size: 18px;
    color:#E5E7EB;
}

.top-content {
    display: flex;
    margin-left: 400px;
    margin-top: 75px;
    padding-bottom: 100px;
}

.hook {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 48px;
    font-weight:bolder;
    color:#F9FAF8;
    width: 300px
}

.title-sub {
    font-size: 18px;
    color: #E5E7EB;
    width:400px;
}

.button {
    font-size: 18px;
    color: #E5E7EB;
    background:#3882F6;
    padding:7px;
    width:90px;
    margin-top:10px;
    border-radius: 10px;
    display:flex;
    justify-content: center;
}

.placeholder {
    background: grey;
    margin-left: 240px;
    width: 300px;
    display: flex;
    justify-content: center;
}

.info {
    display:flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 36px;
    font-weight: bolder;
    color:#1F2937;
}

.image-row {
    display:flex;
    justify-content: center;
}

#lion2,
#lion3,
#lion4,
#lion5 {
    max-width: 150px;
    margin:20px
}

.quote {
    margin-top: 40px;
    padding:80px;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
}

#quote-meat {
    font-size: 36px;
    width: 570px;
    line-height: 80%;
    color:lightsalmon;
    font-style: oblique;
}

#quoted {
    font-size:25px;
    margin-left:320px;
    font-weight: bold;
    font-style: normal;
    color:#1F2937
}

.blue {
    background-color: #3882F6;
    display: flex;
    justify-content: center;
    padding:30px;
    margin-left: 600px;
    margin-right: 600px;
    border-radius: 10px;
    margin-top: 80px;
}

.call {
    color:#E5E7EB;
    font-size: 20px;
    font-weight: bolder;
}

#fine {
    font-size: 15px;
    font-weight: normal;
}

.button2 {
    margin-left: 80px;
    margin-top: 10px;
    border:2px;
    border-style: solid;
    padding:5px;
    border-color:#E5E7EB;
    border-radius: 10px;
    color:#E5E7EB;
    padding-left: 20px;
    padding-right:20px;
}

.footer {
    display:flex;
    justify-content: center;
    margin-top: 100px;
    background-color:#1F2937;
    padding:25px;
    color: #E5E7EB;
}